.container {
  width: 100%;
  height: 100%;
}

/* SidePanel */
.sidePanel {
  transition: 0.5s;
}

.sidePanel .sideLinks {
  list-style: none;
  padding-left: 10px;
  margin: 0;
  margin-bottom: 55px;
}

.sidePanel li {
  padding: 25px 5px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  transition: 0.5s;
  align-items: center;
  font-size: 25px;
}

.sidePanel li a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.sidePanel li:hover {
  background-color: #E7EEF9;
  color: #597FBD;
  border-radius: 5px;
}

.sidePanel .account {
  border-top: 1px solid grey;
  padding-left: 10px;
  margin: 0;
}

/* Dataview */
.dataview {
  transition: 0.5s;
  background-color: #F1F4FA;
  padding: 20px;
  border-radius: 5px;
}

/* Users */
.users {
  width: 98%;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  margin-top: 3px;
}

.view {
  color: dodgerblue;
  text-transform: capitalize;
}

/* single user */
.usermain {
  background-color: white;
  padding: 20px;
}

.usermain h3 {
  color: dodgerblue;
}

.userBtn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #E7EEF9;
  color: #6488C2;
  cursor: pointer;
}

.usermain th {
  color: #B0B4BA;
  font-size: 12px;
}

.userTop {
  display: flex;
  justify-content: space-between;
}

.user {
  width: 180px;
  display: flex;
  gap: 15px;
  color: dodgerblue;
  padding: 5px;
}

.userInfo table {
  border-collapse: collapse;
  width: 60%;
}

.userInfo tr {
  padding: 10px;
  text-align: center;
}

.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.investment table {
  width: 100%;
}

.investment th {
  padding: 10px;
  text-align: center;
}

.investment td {
  padding: 10px;
  text-align: center;
}

.modal {
  width: 34% !important;
  border: 1px solid red;
}

/* select components */
.selectscontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selectscontainer span {
  color: #B0B4BA;
  font-size: 12px;
}

.selectsOpt {
  margin-bottom: 20px;
}


.selectsOpt select {
  border: none;
  background-color: #F3F6FC;
  padding: 8px 3px;
  width: 100%;
}

.selectsOpt select:focus {
  outline: none;
}